@font-face {
  font-family: "Karla-Var";
  src: url("../fonts/Karla/Karla-VariableFont_wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Karla-Var";
}

:root {
  --basic-color: #323a45;
  --text-gray: #848484;
  --marg-l-r: 4rem;
}

a {
  text-decoration: none;
  color: var(--basic-color);
}

body {
  margin: 0 4rem;
}

img {
  width: 100%;
  object-fit: cover;
}

/* * Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  margin-top: 1.3rem;
  /* border: 2px solid deeppink; */
}

nav {
  display: flex;
  gap: 6rem;
}

/* * Main */
/* - section I */

img {
  margin-bottom: 2rem;
}

img:hover {
  opacity: 50%;
}

div,
p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

figure {
  margin: 2rem 0;
}

.gray-Text {
  color: var(--text-gray);
}

.fig-caption {
  display: flex;
  justify-content: space-between;
}

.hero-sizing {
  margin-bottom: 4rem;
}

/* - section II */

.grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
}

/* - footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  margin-bottom: 4.4rem;
}

h4 {
  margin-bottom: 4rem;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-a {
  display: grid;
  grid-template-columns: 1fr;
}

.last-footer {
  position: relative;
  left: 30rem;
}

.last-footer a {
  font-size: 1rem;
}

.copyright {
  font-size: 1rem;
  color: var(--text-gray);
}
